body {
    color: whitesmoke;
    background-color: #210518;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
}

h1 {
    font-size: 26pt;
    font-weight: 400;
}

.container-sub-1 {
    width: 500px;
    height: 200px;
    background-color: #93bd9a;
    border-radius: 5px;
    padding: 5px;
    position: relative;
}

p {
    color: #3d1c33;
    font-size: 16pt;
}

.textInput {
    padding: 5px;
    font-size: 24px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #3d1c33;
}

.checkBtn {
    padding: 10px;
    margin-left: 50px;
    border-radius: 20px;
    border: none;
    background-color: #3d1c33;
    color: white;
    font-size: 16px;
    box-shadow: 2px 1px 4px black;
}

.checkBtn:hover {
    cursor: pointer;
}

.checkBtn:active {
    padding: 9px;
    margin-left: 51px;
    box-shadow: none;
}

.oq {
    font-size: 36px;
    color: whitesmoke;
    text-shadow: 
    0px 0px 2px black,
    0px 0px 5px black,    
    0px 0px 7px black
    ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    left: 10px;
    bottom: -30px;
}

.oq:hover {
    cursor: pointer;
}

#result {
    font-size: 26px;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.result {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#p-info {
    color: whitesmoke;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;   
}

#div-info {
    width: 300px;
    position: absolute;
    left: 40px;
    top: 10px;
    background-color: #522945;
    border-radius: 5px;
    padding: 5px;
}